build_logfile/
build_source/
build_tmp/
cross/
custom/*-local*
driver/
flash/
release/
source/
tufsbox/
BUILDLOG/
custom/yaud-*
custom/release_*
own_build/
Patches/patch-neutrino/
root/boot/
root/etc/wpa_supplicant.wlan0.conf
tools/
tufsbox/
.deps/
config*
config.local
*~
Makefile.local
build
m

